{{define "base"}}<html>
  <head>{{template "head" .}}</head>
  <body>
    {{template "topmenu" .}}
    <div id="maincontainer">
      <div id="leftcontainer">
        <div id="topleftmenu" class="block">
          <div id="section" class="leftstyle">
            <h2>Sections</h2>
            {{template "left_menu" .}}
          </div>
  
          <div id="queries" class="leftstyle">
            <h2>Past Queries</h2>
            <ul>
              <li><a href="/queries/28f5aa28fe1e15ca7d755205296a5a583018bb3d20e4c3a010a0fdec850cb3316563e637a51015c0475d51bea311c2ceeff52ab99ace3dd2b8ffac6c57dd1d02">First title of the query</a></li>
              <li><a href="/queries/28f5aa28fe1e15ca7d755205296a5a583018bb3d20e4c3a010a0fdec850cb3316563e637a51015c0475d51bea311c2ceeff52ab99ace3dd2b8ffac6c57dd1d02">Second title of a great query</a></li>
              <li><a href="/queries/28f5aa28fe1e15ca7d755205296a5a583018bb3d20e4c3a010a0fdec850cb3316563e637a51015c0475d51bea311c2ceeff52ab99ace3dd2b8ffac6c57dd1d02">Yes, this is another title again</a></li>
              <li><a href="/queries/28f5aa28fe1e15ca7d755205296a5a583018bb3d20e4c3a010a0fdec850cb3316563e637a51015c0475d51bea311c2ceeff52ab99ace3dd2b8ffac6c57dd1d02">Oh yes, another title!</a></li>
            </ul>
          </div>
  
          <div id="languages" class="leftstyle">
            <h2>Languages</h2>
            <ul>
              <li><a href="/">English</a></li>
              <li><a href="/fr">French</a></li>
            </ul>
          </div>
        </div>

        <div id="adblock" class="block">
          <div  class="leftstyle">
            <br /><br /><br /><br /><br /><br />
          </div>
        </div>
        
      </div>

      <div id="middlecontent">
        <div id="breadcrumb" class="block content">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/identities">Identities</a></li>
            <li><a href="/identities/steve">Steve</a></li>
          </ul>
        </div>
        <div id="mainsection" class="block content">
          {{template "maincontent" .}}
        </div>
      </div>
    </div>

    {{template "footer" .}}
   
  </body>
</html>{{end}}