{{define "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Care</title>
    <link rel="stylesheet" href="default.css">
{{end}}

{{define "topmenu"}}
    <div id="topmenu">
        <nav id="topleftmenu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/newsletter">Newsletter</a></li>
                <li><a href="/mission">Mission</a></li>
                <li><a href="/contact-us">Contact us</a></li>
            </ul>
        </nav>
        
        <a href="/" id="toplogo"><span>Steve Care</span></a>

        <div  id="rightsection">
            <div class="loginbox">
                <form action="/">
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="text" id="username" class="inputbox" placeholder="Username" /></td>
                                <td><input type="password" id="password" class="inputbox" placeholder="Password" /></td>
                                <td><input type="submit" value="Authenticate" class="btn" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/recover">Recover</a></li>
            </ul>
        </div>
    </div>
    
{{end}}

{{define "left_menu"}}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blockchains">Blockchains</a></li>
        <li><a href="/identities">Identities</a></li>
        <li><a href="/wallets">Wallets</a></li>
        <li><a href="/script">Scripts</a></li>
        <li><a href="/queries">Queries</a></li>
    </ul>
{{end}}


{{define "footer"}}
    <footer class="block">
        &copy; Copyright Steve Care Software.  All rights reserved.
    </footer>
    <script src="ide.js"></script>
{{end}}