{{define "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Care</title>
    <link rel="stylesheet" href="default.css">
{{end}}

{{define "left_menu"}}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blockchains">Blockchains</a></li>
        <li><a href="/identities">Identities</a></li>
        <li><a href="/wallets">Wallets</a></li>
        <li><a href="/script">Scripts</a></li>
        <li><a href="/queries">Queries</a></li>
    </ul>
{{end}}


{{define "footer"}}
    <footer class="block">
        &copy; Copyright Steve Care Software.  All rights reserved.
    </footer>
    <script src="ide.js"></script>
{{end}}