{{define "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Care</title>
    <link rel="stylesheet" href="/default.css">
{{end}}

{{define "left_menu"}}
    <ul>
        <li><a href="/network/identities">Identities</a></li>
        <li><a href="/network/wallets">Wallets</a></li>
        <li><a href="/network/blockchains">Blockchains</a></li>
        <li><a href="/network/wallets">Wallets</a></li>
        <li><a href="/network/nfts">NFT's</a></li>
    </ul>
{{end}}

{{define "breadcrumb"}}
<div id="breadcrumb" class="block content">
    <ul>
      <li><a href="/">Home</a></li>
      <li>Network</li>
    </ul>
  </div>
{{end}}

{{define "maincontent"}}
    <h1>Network</h1>
{{end}}

{{define "footer"}}
    <footer class="block">
        &copy; Copyright Steve Care Software.  All rights reserved.
    </footer>
    <script src="ide.js"></script>
{{end}}