{{define "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Care</title>
    <link rel="stylesheet" href="default.css">
{{end}}

{{define "left_menu"}}
    <ul>
        <li><a href="/identities">Identities</a></li>
        <li><a href="/blockchains">Blockchains</a></li>
        <li><a href="/wallets">Wallets</a></li>
    </ul>
{{end}}

{{define "breadcrumb"}}
<div id="breadcrumb" class="block content">
    <ul>
      <li><a href="/">Home</a></li>
      <li>Recover your Identity</li>
    </ul>
  </div>
{{end}}

{{define "maincontent"}}
    <h1>Recover your identity</h1>
    <p>When <a href="/register">you registered</a> your identity, you were provided with a list of 24 seed words.  Please write them below, along with your username and a new password to recover access to your identity.</p>
    <p>If you lost your seed words, you can't recover your identity.</p>
    <form action="/register">
        <div id="registerbox">
            <div class="errormessage">
                <p>The username and password are mandatory in order to register an identity.</p>
            </div>
            <div id="registercontent">
                <div>
                    <table id="registerform">
                        <tbody>
                            <tr>
                                <td><label for="username">Username:</label></td>
                                <td><input type="text" id="username" class="inputbox" /></td>
                            </tr>
                            <tr>
                                <td><label for="password">New Password:</label></td>
                                <td><input type="text" id="password" class="inputbox" /></td>
                            </tr>
                            <tr>
                                <td><label for="passagain">Password again:</label></td>
                                <td><input type="text" id="passagain" class="inputbox" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="seedwords">
                <h2>Please type your seed words below:</h2>
                <ol>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                    <li><input type="text" name="seedwords[]" class="inputbox" /></li>
                </ol>
            </div>

            <div class="fullwidth">
                <input type="submit" value="Recover" class="btn right" />
            </div>
        </div>
    </form>
{{end}}

{{define "footer"}}
    <footer class="block">
        &copy; Copyright Steve Care Software.  All rights reserved.
    </footer>
    <script src="ide.js"></script>
{{end}}